.app-name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-text);
}

.page-content {
  width: min(1100px, 92%);
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  padding: var(--space-lg);
}

.btn {
  color: var(--color-text);

  font-size: 1rem;
  font-weight: 600;

  padding: 0.5rem 0.75rem;

  border: 1px solid var(--color-border);
  border-radius: 25px;

  cursor: pointer;
  transition: background-color var(--transition-fast);
}

.primary-btn {
  background-color: var(--color-primary);
}

.primary-btn:hover {
  background-color: var(--color-primary-hover);
}

.secondary-btn {
  background-color: var(--color-secondary);
}

.secondary-btn:hover {
  background-color: var(--color-secondary-hover);
}
